* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
    }
  
    body{
      background-color: #222222;
      color: white;
      font-family: helvetica;
    }
  
    .container{
      border: 3px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
    }
    .page{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid purple;
      width: 100%;
    }